<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <netTcpBinding>
                <binding name="NetTcpBinding_StdConnection" />
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="net.tcp://WIN-U6U8D3BKOHB:8101/DynamicsAx/Services/StdSvcConnectionWPF"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_StdConnection"
                contract="StdSvcRef.StdConnection1" name="NetTcpBinding_StdConnection">
                <identity>
                    <userPrincipalName value="Administrator@Ferranti.local" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>